
@import "../../../style/variable";

.p_Profile {

  background: #ffffff;
  text-align: left;

  .d_box {
    padding: 0 $gap_3;

    .btnContainer {
      padding-top: $gap_2;
      text-align: right;
    }
  }

  .d_rightContainer {
    border-left: 1px solid #e0e0e0;
  }
}

.content-center {
    text-align: center;
}

.content-center ul {
    list-style-type: none;
}

.text-stat {
    font-size: 1.4em;
}

.dashboard-rate-margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

.defaultWidth{
  width: 100%;
  height: 40px;
}

.defaultPadding{
  padding : 5px;
}

